<div>
  <nav class=" navbar fixed-top navbar-dark bg-dark navbar-expand-lg ">

    <a routerLink="" class="navbar-brand" > Fuel Distributor App</a>

    <div class="collapse navbar-collapse">
      <div class="navbar-nav mr-auto">
          <a routerLink="orders" class="nav-item nav-link active">All Orders</a>
          <a routerLink="dispatches" class="nav-item nav-link">Dispatch Orders</a>
          <a routerLink="stocks" class="nav-item nav-link">Stock Details</a>
      </div>
    </div>

  </nav>
</div>

<div>
  <router-outlet></router-outlet>
</div>

